@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./img/img-1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#equipo {
  background-image: url(./img/img-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
